.DS_Store
.env.*

# ignore files in PROXY
proxy/data
proxy/letsencrypt

# ignore files in WEBSITE
website/node_modules
website/public
website/src
website/./node_modules
website/node_modules
website/.pnp
website/.pnp.js
website/coverage
website/build
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/package-lock.json
website/package.json
website/README.md

# ignore files in DB
env-postgres/backups
env-postgres/data